.main-container {
    padding-left: 1.6%;
    padding-right: 1.6%;
    padding-top: 2%;
    padding-bottom: 2%;
    margin: 5%;
    background: rgba(81, 255, 0, 0.088);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10.2px);
    -webkit-backdrop-filter: blur(10.2px);
}