:root {
  font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;

  color: rgb(233, 233, 233);
  background-color: rgb(44, 44, 44);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}